# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
_site/
**/*_cache/*

# Miscellaneous stuff
design-assets/*
static/etc/*
.DS_Store

/.luarc.json


# Scratch files (Spotify data, generation scripts, etc.)
scratch/